<h1>Peanut Shutter</h1>

<div>
<% @uploads.each do |upload| %>
  <a rel="fb-group" title="by <%= upload.user.name %>" href="<%= upload.photo.url(:large) %>" class="fancybox"><%= image_tag upload.photo.url(:thumb) %></a>
<% end %>

</div>
